@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --cor0: #FFF2E7;
    --cor1: #ECD6C4;
    --cor2: #A45A49;
    --cor3: #2F2325;
    --fonte1: 'Sarala', sans-serif;
    --fonte2: 'Righteous', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(to right, var(--cor3), var(--cor2));
}
