@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --cor0: #FFF2E7;
    --cor1: #ECD6C4;
    --cor2: #A45A49;
    --cor3: #2F2325;
    --fonte1: 'Sarala', sans-serif;
    --fonte2: 'Righteous', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(to right, var(--cor3), var(--cor2));
}

.cabecalho {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.cabecalho ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 32px;
}

.cabecalho ul li a {
    text-decoration: none;
    color: var(--cor1);
    font: normal 1em var(--fonte1);
}

.cabecalho ul li a:hover {
    text-decoration: underline;
}