@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --cor0: #FFF2E7;
    --cor1: #ECD6C4;
    --cor2: #A45A49;
    --cor3: #2F2325;
    --hover: rgba(236, 214, 196, 0.493);
    --fonte1: 'Sarala', sans-serif;
    --fonte2: 'Righteous', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(to left, var(--cor2), var(--cor3));
}

.cabecalho {
    padding: 1em 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.cabecalho nav a {
    margin: 0 1em;
    text-decoration: none;
    font: normal .9em var(--fonte1);
    color: var(--cor0);
}

.cabecalho nav a:hover {
    text-decoration: underline;
}

.principal {
    border-top: 2px solid var(--cor0);
    padding-top: 1em;
}

.secao-primaria {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.secao-primaria div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.secao-primaria div h1 {
    font: bold 3em var(--fonte2);
    color: var(--cor0);
}

.secao-primaria div p {
    font: normal 14px var(--fonte1);
    color: var(--cor1);
}

.secao-primaria div a {
    background-color: var(--cor1);
    color: var(--cor3);
    border-radius: 1em;
    padding: 10px;
    margin: 1em 0;
    font: normal 14px var(--fonte1);
    text-align: center;
    text-decoration: none;
}

.secao-primaria div a:hover {
    background-color: var(--hover);
    color: white;
    transition: .3s;
}

.secao-secundaria, .secao-secundaria ol {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.secao-secundaria h2 {
    border-top: 2px solid var(--cor0);
    padding-top: 1em;
    font: bold 1.5em var(--fonte2);
    color: var(--cor1);
}

.secao-secundaria ol li {
    text-align: center;
    color: var(--cor1);
    font-family: var(--fonte2);
}

.rodape {
    border-top: 2px solid var(--cor0);
    margin-top: 3em;
    padding: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}